@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  @apply bg-white dark:bg-gray-900 text-black dark:text-gray-100;
  font-family: 'Inter', sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}